Doc/BrokerConfig/example.xml

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
	xmlns:param="http://www.ibm.com/rules/decisionservice/HotelAvailability  _RuleApp/ODM_HotelAvailability_v1/param"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://wadl.dev.java.net/2009/02 wadl.xsd">
	<grammars>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="http://www.ibm.com/rules/decisionservice/HotelAvailabi  lity_RuleApp/ODM_HotelAvailability_v1/param">
			<xsd:element name="Request">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="0" name="DecisionID"
							type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="0" name="date_"
							type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="0" name="location_"
							type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DecisionID" type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="0" name="date_"
							type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="0" name="location_"
							type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="0" name="vendor_"
							type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</grammars>
	<resources
		base="http://localhost:9082/DecisionService/rest/v1/HotelAvaila  bility_RuleApp/1.0/ODM_HotelAvailability_v1/1.0">
		<resource path="">
			<method name="POST">
				<doc title="execute" />
				<request>
					<representation element="param:Request" mediaType="application/xml" />
				</request>
				<response>
					<representation element="param:Response" mediaType="application/xml" />
				</response>
			</method>
		</resource>
		<resource path="/xml">
			<method name="GET">
				<doc title="XML generation" />
				<response>
					<representation element="param:Request" mediaType="application/xml" />
				</response>
			</method>
		</resource>
		<resource path="/validate">
			<method name="POST">
				<doc title="Payload preemptive validation" />
				<request>
					<representation element="param:Request" mediaType="application/xml" />
				</request>
				<response>
					<representation mediaType="application/json" />
				</response>
			</method>
		</resource>
	</resources>
</application>