HL7v251DFDLLibrary/chapter15.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
 * The schemas contained in this document are reproduced with the express permission of 
 * Health Level Seven (R) International. ALL RIGHTS RESERVED. 
 *  
 * The schemas contain material derived from HL7 standards. 
 * HL7 standards can be obtained from the HL7 website: www.HL7.org 
 * 
 * Health Level Seven International and IBM hereby grant permission, to those obtaining 
 * a copy of these materials, to use, copy and modify the materials solely for use with DFDL processors. 
 * THESE MATERIALS ARE PROVIDED AS IS WITH NO WARRANTIES OF ANY KIND. 
 * 
 * Copyright (C) 1999-2011, Health Level Seven. 
 * 
 * (C) Copyright International Business Machines Corporation, 2014. 
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v2xml" xmlns="urn:hl7-org:v2xml" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:hl7="urn:hl7-org:v2xml" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:ibmhl7="http://www.ibm.com/dfdl/HL7Format">
    <xsd:include schemaLocation="segments.xsd"/>
    <xsd:import namespace="http://www.ibm.com/dfdl/HL7Format" schemaLocation="IBMdefined/HL7Format.xsd"/>
    <xsd:annotation>
				<xsd:appinfo source="http://www.ogf.org/dfdl/">
					<dfdl:format ref="ibmhl7:HL7Format"/>
				</xsd:appinfo>
			</xsd:annotation>
    <xsd:complexType name="PMU_B01.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="MSH"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SFT"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="EVN"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="STF"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="PRA"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ORG"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="AFF"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="LAN"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="EDU"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CER"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element ibmSchExtn:docRoot="true" name="PMU_B01" type="PMU_B01.CONTENT"/>
<xsd:complexType name="PMU_B03.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="MSH"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SFT"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="EVN"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="STF"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element ibmSchExtn:docRoot="true" name="PMU_B03" type="PMU_B03.CONTENT"/>
    <xsd:complexType name="PMU_B04.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="MSH"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SFT"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="EVN"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="STF"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="PRA"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ORG"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element ibmSchExtn:docRoot="true" name="PMU_B04" type="PMU_B04.CONTENT"/>
    <xsd:complexType name="PMU_B07.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="MSH"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SFT"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="EVN"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="STF"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="PRA"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="PMU_B07.CERTIFICATE"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element ibmSchExtn:docRoot="true" name="PMU_B07" type="PMU_B07.CONTENT"/>
    <xsd:complexType name="PMU_B07.CERTIFICATE.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="CER"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ROL"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="PMU_B07.CERTIFICATE" type="PMU_B07.CERTIFICATE.CONTENT"/>
    <xsd:complexType name="PMU_B08.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="MSH"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SFT"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="EVN"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="STF"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="PRA"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CER"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element ibmSchExtn:docRoot="true" name="PMU_B08" type="PMU_B08.CONTENT"/>
    <xsd:complexType name="RSP_K25.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="MSH"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SFT"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="MSA"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ERR"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="QAK"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="QPD"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="RCP"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RSP_K25.STAFF"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="DSC"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element ibmSchExtn:docRoot="true" name="RSP_K25" type="RSP_K25.CONTENT"/>
    <xsd:complexType name="RSP_K25.STAFF.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="STF"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="PRA"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ORG"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="AFF"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="LAN"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="EDU"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CER"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_K25.STAFF" type="RSP_K25.STAFF.CONTENT"/>
    <xsd:complexType name="RSP_Q11.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="MSH"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SFT"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="MSA"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ERR"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="QAK"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="QPD"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RSP_Q11.QUERY_RESULT_CLUSTER"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="DSC"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element ibmSchExtn:docRoot="true" name="RSP_Q11" type="RSP_Q11.CONTENT"/>
    <xsd:complexType name="RSP_Q11.QUERY_RESULT_CLUSTER.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="MFE"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="LOC"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="LCH"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="LRL"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RSP_Q11.MF_LOC_DEPT"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Q11.QUERY_RESULT_CLUSTER" type="RSP_Q11.QUERY_RESULT_CLUSTER.CONTENT"/>
    <xsd:complexType name="RSP_Q11.MF_LOC_DEPT.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="LDP"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="LCH"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="LCC"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Q11.MF_LOC_DEPT" type="RSP_Q11.MF_LOC_DEPT.CONTENT"/>
    <xsd:complexType name="RSP_Z82.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="MSH"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SFT"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="MSA"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="ERR"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="QAK"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="QPD"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="RCP"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RSP_Z82.QUERY_RESPONSE"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="DSC"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element ibmSchExtn:docRoot="true" name="RSP_Z82" type="RSP_Z82.CONTENT"/>
    <xsd:complexType name="RSP_Z82.QUERY_RESPONSE.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RSP_Z82.PATIENT"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RSP_Z82.COMMON_ORDER"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z82.QUERY_RESPONSE" type="RSP_Z82.QUERY_RESPONSE.CONTENT"/>
    <xsd:complexType name="RSP_Z82.PATIENT.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="PID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="PD1"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="NTE"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RSP_Z82.VISIT"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z82.PATIENT" type="RSP_Z82.PATIENT.CONTENT"/>
    <xsd:complexType name="RSP_Z82.VISIT.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="AL1"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="PV1"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="PV2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z82.VISIT" type="RSP_Z82.VISIT.CONTENT"/>
    <xsd:complexType name="RSP_Z82.COMMON_ORDER.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="ORC"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="RSP_Z82.TIMING"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RSP_Z82.ORDER_DETAIL"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RSP_Z82.ENCODED_ORDER"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="RXD"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RXR"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="RXC"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RSP_Z82.OBSERVATION"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z82.COMMON_ORDER" type="RSP_Z82.COMMON_ORDER.CONTENT"/>
    <xsd:complexType name="RSP_Z82.TIMING.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="TQ1"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="TQ2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z82.TIMING" type="RSP_Z82.TIMING.CONTENT"/>
    <xsd:complexType name="RSP_Z82.ORDER_DETAIL.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="RXO"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="NTE"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RXR"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RSP_Z82.TREATMENT"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z82.ORDER_DETAIL" type="RSP_Z82.ORDER_DETAIL.CONTENT"/>
    <xsd:complexType name="RSP_Z82.TREATMENT.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RXC"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="NTE"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z82.TREATMENT" type="RSP_Z82.TREATMENT.CONTENT"/>
    <xsd:complexType name="RSP_Z82.ENCODED_ORDER.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="RXE"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="RSP_Z82.TIMING_ENCODED"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RXR"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="RXC"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z82.ENCODED_ORDER" type="RSP_Z82.ENCODED_ORDER.CONTENT"/>
    <xsd:complexType name="RSP_Z82.TIMING_ENCODED.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="TQ1"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="TQ2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z82.TIMING_ENCODED" type="RSP_Z82.TIMING_ENCODED.CONTENT"/>
    <xsd:complexType name="RSP_Z82.OBSERVATION.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="OBX"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="NTE"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z82.OBSERVATION" type="RSP_Z82.OBSERVATION.CONTENT"/>
    <xsd:complexType name="RSP_Z86.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="MSH"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SFT"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="MSA"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="ERR"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="QAK"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="QPD"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RSP_Z86.QUERY_RESPONSE"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="DSC"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element ibmSchExtn:docRoot="true" name="RSP_Z86" type="RSP_Z86.CONTENT"/>
    <xsd:complexType name="RSP_Z86.QUERY_RESPONSE.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RSP_Z86.PATIENT"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RSP_Z86.COMMON_ORDER"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z86.QUERY_RESPONSE" type="RSP_Z86.QUERY_RESPONSE.CONTENT"/>
    <xsd:complexType name="RSP_Z86.PATIENT.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="PID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="PD1"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="NTE"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="AL1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z86.PATIENT" type="RSP_Z86.PATIENT.CONTENT"/>
    <xsd:complexType name="RSP_Z86.COMMON_ORDER.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="ORC"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="RSP_Z86.TIMING"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RSP_Z86.ORDER_DETAIL"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RSP_Z86.ENCODEDORDER"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RSP_Z86.DISPENSE"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RSP_Z86.GIVE"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RSP_Z86.ADMINISTRATION"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RSP_Z86.OBSERVATION"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z86.COMMON_ORDER" type="RSP_Z86.COMMON_ORDER.CONTENT"/>
    <xsd:complexType name="RSP_Z86.TIMING.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="TQ1"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="TQ2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z86.TIMING" type="RSP_Z86.TIMING.CONTENT"/>
    <xsd:complexType name="RSP_Z86.ORDER_DETAIL.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="RXO"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RXR"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="RXC"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z86.ORDER_DETAIL" type="RSP_Z86.ORDER_DETAIL.CONTENT"/>
    <xsd:complexType name="RSP_Z86.ENCODEDORDER.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="RXE"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="RSP_Z86.TIMING_ENCODED"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RXR"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="RXC"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z86.ENCODEDORDER" type="RSP_Z86.ENCODEDORDER.CONTENT"/>
    <xsd:complexType name="RSP_Z86.TIMING_ENCODED.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="TQ1"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="TQ2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z86.TIMING_ENCODED" type="RSP_Z86.TIMING_ENCODED.CONTENT"/>
    <xsd:complexType name="RSP_Z86.DISPENSE.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="RXD"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RXR"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="RXC"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z86.DISPENSE" type="RSP_Z86.DISPENSE.CONTENT"/>
    <xsd:complexType name="RSP_Z86.GIVE.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="RXG"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RXR"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="RXC"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z86.GIVE" type="RSP_Z86.GIVE.CONTENT"/>
    <xsd:complexType name="RSP_Z86.ADMINISTRATION.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="RXA"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RXR"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="RXC"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z86.ADMINISTRATION" type="RSP_Z86.ADMINISTRATION.CONTENT"/>
    <xsd:complexType name="RSP_Z86.OBSERVATION.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="OBX"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="NTE"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z86.OBSERVATION" type="RSP_Z86.OBSERVATION.CONTENT"/>
    <xsd:complexType name="RSP_Z88.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="MSH"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SFT"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="MSA"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="ERR"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="QAK"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="QPD"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="RCP"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RSP_Z88.QUERY_RESPONSE"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="DSC"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element ibmSchExtn:docRoot="true" name="RSP_Z88" type="RSP_Z88.CONTENT"/>
    <xsd:complexType name="RSP_Z88.QUERY_RESPONSE.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RSP_Z88.PATIENT"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RSP_Z88.COMMON_ORDER"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z88.QUERY_RESPONSE" type="RSP_Z88.QUERY_RESPONSE.CONTENT"/>
    <xsd:complexType name="RSP_Z88.PATIENT.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="PID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="PD1"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="NTE"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RSP_Z88.ALLERGY"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z88.PATIENT" type="RSP_Z88.PATIENT.CONTENT"/>
    <xsd:complexType name="RSP_Z88.ALLERGY.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="AL1"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RSP_Z88.VISIT"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z88.ALLERGY" type="RSP_Z88.ALLERGY.CONTENT"/>
    <xsd:complexType name="RSP_Z88.VISIT.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="PV1"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="PV2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z88.VISIT" type="RSP_Z88.VISIT.CONTENT"/>
    <xsd:complexType name="RSP_Z88.COMMON_ORDER.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="ORC"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="RSP_Z88.TIMING"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RSP_Z88.ORDER_DETAIL"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RSP_Z88.ORDER_ENCODED"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="RXD"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RXR"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="RXC"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RSP_Z88.OBSERVATION"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z88.COMMON_ORDER" type="RSP_Z88.COMMON_ORDER.CONTENT"/>
    <xsd:complexType name="RSP_Z88.TIMING.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="TQ1"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="TQ2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z88.TIMING" type="RSP_Z88.TIMING.CONTENT"/>
    <xsd:complexType name="RSP_Z88.ORDER_DETAIL.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="RXO"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="NTE"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RXR"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RSP_Z88.COMPONENT"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z88.ORDER_DETAIL" type="RSP_Z88.ORDER_DETAIL.CONTENT"/>
    <xsd:complexType name="RSP_Z88.COMPONENT.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RXC"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="NTE"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z88.COMPONENT" type="RSP_Z88.COMPONENT.CONTENT"/>
    <xsd:complexType name="RSP_Z88.ORDER_ENCODED.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="RXE"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="RSP_Z88.TIMING_ENCODED"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RXR"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="RXC"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z88.ORDER_ENCODED" type="RSP_Z88.ORDER_ENCODED.CONTENT"/>
    <xsd:complexType name="RSP_Z88.TIMING_ENCODED.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="TQ1"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="TQ2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z88.TIMING_ENCODED" type="RSP_Z88.TIMING_ENCODED.CONTENT"/>
    <xsd:complexType name="RSP_Z88.OBSERVATION.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="OBX"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="NTE"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z88.OBSERVATION" type="RSP_Z88.OBSERVATION.CONTENT"/>
    <xsd:complexType name="RSP_Z90.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="MSH"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SFT"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="MSA"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="ERR"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="QAK"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="QPD"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="RCP"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RSP_Z90.QUERY_RESPONSE"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="DSC"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element ibmSchExtn:docRoot="true" name="RSP_Z90" type="RSP_Z90.CONTENT"/>
    <xsd:complexType name="RSP_Z90.QUERY_RESPONSE.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RSP_Z90.PATIENT"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RSP_Z90.COMMON_ORDER"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="RSP_Z90.SPECIMEN"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z90.QUERY_RESPONSE" type="RSP_Z90.QUERY_RESPONSE.CONTENT"/>
    <xsd:complexType name="RSP_Z90.PATIENT.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="PID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="PD1"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="NK1"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="NTE"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RSP_Z90.VISIT"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z90.PATIENT" type="RSP_Z90.PATIENT.CONTENT"/>
    <xsd:complexType name="RSP_Z90.VISIT.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="PV1"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="PV2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z90.VISIT" type="RSP_Z90.VISIT.CONTENT"/>
    <xsd:complexType name="RSP_Z90.COMMON_ORDER.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="ORC"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="RSP_Z90.TIMING"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="OBR"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="NTE"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="CTD"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="RSP_Z90.OBSERVATION"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z90.COMMON_ORDER" type="RSP_Z90.COMMON_ORDER.CONTENT"/>
    <xsd:complexType name="RSP_Z90.TIMING.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="TQ1"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="TQ2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z90.TIMING" type="RSP_Z90.TIMING.CONTENT"/>
    <xsd:complexType name="RSP_Z90.OBSERVATION.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="OBX"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="NTE"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z90.OBSERVATION" type="RSP_Z90.OBSERVATION.CONTENT"/>
    <xsd:complexType name="RSP_Z90.SPECIMEN.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="SPM"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="OBX"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RSP_Z90.SPECIMEN" type="RSP_Z90.SPECIMEN.CONTENT"/>
</xsd:schema>