HL7v251DFDLLibrary/chapter9.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
 * The schemas contained in this document are reproduced with the express permission of 
 * Health Level Seven (R) International. ALL RIGHTS RESERVED. 
 *  
 * The schemas contain material derived from HL7 standards. 
 * HL7 standards can be obtained from the HL7 website: www.HL7.org 
 * 
 * Health Level Seven International and IBM hereby grant permission, to those obtaining 
 * a copy of these materials, to use, copy and modify the materials solely for use with DFDL processors. 
 * THESE MATERIALS ARE PROVIDED AS IS WITH NO WARRANTIES OF ANY KIND. 
 * 
 * Copyright (C) 1999-2011, Health Level Seven. 
 * 
 * (C) Copyright International Business Machines Corporation, 2014. 
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v2xml" xmlns="urn:hl7-org:v2xml" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:hl7="urn:hl7-org:v2xml" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:ibmhl7="http://www.ibm.com/dfdl/HL7Format">
    <xsd:include schemaLocation="segments.xsd"/>
    <xsd:import namespace="http://www.ibm.com/dfdl/HL7Format" schemaLocation="IBMdefined/HL7Format.xsd"/>
    <xsd:annotation>
				<xsd:appinfo source="http://www.ogf.org/dfdl/">
					<dfdl:format ref="ibmhl7:HL7Format"/>
				</xsd:appinfo>
			</xsd:annotation>
    <xsd:complexType name="DOC_T12.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="MSH"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="MSA"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="ERR"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="QAK"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="QRD"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="DOC_T12.RESULT"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="DSC"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element ibmSchExtn:docRoot="true" name="DOC_T12" type="DOC_T12.CONTENT"/>
    <xsd:complexType name="DOC_T12.RESULT.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="EVN"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="PID"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="PV1"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="TXA"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="OBX"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DOC_T12.RESULT" type="DOC_T12.RESULT.CONTENT"/>
<xsd:complexType name="MDM_T01.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="MSH"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SFT"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="EVN"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="PID"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="PV1"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="MDM_T01.COMMON_ORDER"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="TXA"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element ibmSchExtn:docRoot="true" name="MDM_T01" type="MDM_T01.CONTENT"/>
    <xsd:complexType name="MDM_T01.COMMON_ORDER.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="ORC"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="MDM_T01.TIMING"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="OBR"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="NTE"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="MDM_T01.COMMON_ORDER" type="MDM_T01.COMMON_ORDER.CONTENT"/>
    <xsd:complexType name="MDM_T01.TIMING.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="TQ1"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="TQ2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="MDM_T01.TIMING" type="MDM_T01.TIMING.CONTENT"/>
    <xsd:complexType name="MDM_T02.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="MSH"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SFT"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="EVN"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="PID"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="PV1"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="MDM_T02.COMMON_ORDER"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="TXA"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="MDM_T02.OBSERVATION"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element ibmSchExtn:docRoot="true" name="MDM_T02" type="MDM_T02.CONTENT"/>
    <xsd:complexType name="MDM_T02.COMMON_ORDER.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="ORC"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="MDM_T02.TIMING"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="OBR"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="NTE"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="MDM_T02.COMMON_ORDER" type="MDM_T02.COMMON_ORDER.CONTENT"/>
    <xsd:complexType name="MDM_T02.TIMING.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="TQ1"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="TQ2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="MDM_T02.TIMING" type="MDM_T02.TIMING.CONTENT"/>
    <xsd:complexType name="MDM_T02.OBSERVATION.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="OBX"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="NTE"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="MDM_T02.OBSERVATION" type="MDM_T02.OBSERVATION.CONTENT"/>
</xsd:schema>