HL7v251DFDLLibrary/chapter14.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
 * The schemas contained in this document are reproduced with the express permission of 
 * Health Level Seven (R) International. ALL RIGHTS RESERVED. 
 *  
 * The schemas contain material derived from HL7 standards. 
 * HL7 standards can be obtained from the HL7 website: www.HL7.org 
 * 
 * Health Level Seven International and IBM hereby grant permission, to those obtaining 
 * a copy of these materials, to use, copy and modify the materials solely for use with DFDL processors. 
 * THESE MATERIALS ARE PROVIDED AS IS WITH NO WARRANTIES OF ANY KIND. 
 * 
 * Copyright (C) 1999-2011, Health Level Seven. 
 * 
 * (C) Copyright International Business Machines Corporation, 2014. 
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v2xml" xmlns="urn:hl7-org:v2xml" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:hl7="urn:hl7-org:v2xml" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:ibmhl7="http://www.ibm.com/dfdl/HL7Format">
    <xsd:include schemaLocation="segments.xsd"/>
    <xsd:import namespace="http://www.ibm.com/dfdl/HL7Format" schemaLocation="IBMdefined/HL7Format.xsd"/>
    <xsd:annotation>
				<xsd:appinfo source="http://www.ogf.org/dfdl/">
					<dfdl:format ref="ibmhl7:HL7Format"/>
				</xsd:appinfo>
			</xsd:annotation>
    <xsd:complexType name="NMD_N02.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="MSH"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SFT"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="NMD_N02.CLOCK_AND_STATS_WITH_NOTES"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element ibmSchExtn:docRoot="true" name="NMD_N02" type="NMD_N02.CONTENT"/>
    <xsd:complexType name="NMD_N02.CLOCK_AND_STATS_WITH_NOTES.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="NMD_N02.CLOCK"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="NMD_N02.APP_STATS"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="NMD_N02.APP_STATUS"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NMD_N02.CLOCK_AND_STATS_WITH_NOTES" type="NMD_N02.CLOCK_AND_STATS_WITH_NOTES.CONTENT"/>
    <xsd:complexType name="NMD_N02.CLOCK.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="NCK"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="NTE"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NMD_N02.CLOCK" type="NMD_N02.CLOCK.CONTENT"/>
    <xsd:complexType name="NMD_N02.APP_STATS.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="NST"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="NTE"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NMD_N02.APP_STATS" type="NMD_N02.APP_STATS.CONTENT"/>
    <xsd:complexType name="NMD_N02.APP_STATUS.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="NSC"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="NTE"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NMD_N02.APP_STATUS" type="NMD_N02.APP_STATUS.CONTENT"/>
<xsd:complexType name="NMQ_N01.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="MSH"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SFT"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="NMQ_N01.QRY_WITH_DETAIL"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="NMQ_N01.CLOCK_AND_STATISTICS"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element ibmSchExtn:docRoot="true" name="NMQ_N01" type="NMQ_N01.CONTENT"/>
    <xsd:complexType name="NMQ_N01.QRY_WITH_DETAIL.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="QRD"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="QRF"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NMQ_N01.QRY_WITH_DETAIL" type="NMQ_N01.QRY_WITH_DETAIL.CONTENT"/>
    <xsd:complexType name="NMQ_N01.CLOCK_AND_STATISTICS.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="NCK"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="NST"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="NSC"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NMQ_N01.CLOCK_AND_STATISTICS" type="NMQ_N01.CLOCK_AND_STATISTICS.CONTENT"/>
    <xsd:complexType name="NMR_N01.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="MSH"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SFT"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="MSA"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ERR"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="QRD"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="NMR_N01.CLOCK_AND_STATS_WITH_NOTES_ALT"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element ibmSchExtn:docRoot="true" name="NMR_N01" type="NMR_N01.CONTENT"/>
    <xsd:complexType name="NMR_N01.CLOCK_AND_STATS_WITH_NOTES_ALT.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="NCK"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="NTE"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="NST"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="NTE2"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="NSC"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="NTE3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NMR_N01.CLOCK_AND_STATS_WITH_NOTES_ALT" type="NMR_N01.CLOCK_AND_STATS_WITH_NOTES_ALT.CONTENT"/>
</xsd:schema>